NODE_ENV=development
PORT=4000
SUPABASE_URL=https://ekqzlreiefsxjcdhvpnn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrcXpscmVpZWZzeGpjZGh2cG5uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTg1MzYxOCwiZXhwIjoyMTA1NDI5NjE4fQ.eUM4TM0uxprI0qGAmEcM3OOQ1noKLxS2q3W6nLM-6fU
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVrcXpscmVpZWZzeGpjZGh2cG5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NTM2MTgsImV4cCI6MjEwNTQyOTYxOH0.Ltn-Q-RhhecNAUJpm-KhI-7wF5_kHh9X_Oq6NXbMKO0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_ORIGINS=http://localhost:3000
